:root{
    --azul: #2C4A9A;
    --naranja: #F3920B;
    --blanco: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.navbar{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 2%;
    background-color: var(--blanco);
    width: 96%;
    height: 80px;
}
.navbar_icon_container{
    width: 20%;
}
.navbar_icon{
    display: block;
    width: 100%;
}
.navbar_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.navbar_list_option{
    font-size: 25px;
    color: var(--azul);
    transition: 1s;
}
.navbar_list_option:hover{
    color: var(--naranja);
    transition: 1s;
}
.main{
    margin-top: 80px;
}